.ResumeCard {
  background-color: #eaf3fc;
	display: block;
	text-align: center;
	padding: 30px;
	border-radius: 10px;

	h3 {
		margin: 0;
		font-size: 2em;
	}

	.DolarLabel {
		margin-bottom: 20px;
		color: #b6c2d0;
	}

	.ArrowImage {
		margin-bottom: 10px;
	}

	.SendLabel {
		font-weight: 600;
	}

	span {
		display: block;
	}
}